{% autoescape off %}
เรียนคุณ {{ store_name }},

ขออภัย! ร้านของคุณ {{ store_name }} ไม่ได้รับการอนุมัติในระบบ Yellow Deals เนื่องจากเหตุผลบางประการ ซึ่งอาจรวมถึง:

- ข้อมูลที่คุณส่งมาไม่ครบถ้วนหรือไม่ถูกต้อง  
- ร้านของคุณไม่ตรงตามเงื่อนไขที่กำหนด  
- ไม่มีหน้าร้านชัดเจน
- ร้านค้าของคุณมีข้อมูลที่ขัดแย้งกับเงื่อนไขของเรา  

หากคุณต้องการทราบรายละเอียดเพิ่มเติมเกี่ยวกับปัญหาหรือข้อผิดพลาดที่เกิดขึ้น กรุณาติดต่อเราที่ support@yellowdeals265@gmail.com

ขอขอบคุณที่ใช้บริการ,  
ทีมงาน Yellow Deals
{% endautoescape %}