{% extends 'baseShop.html' %}

{% block title %} Yellow Deals{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="d-flex justify-content-between" style="margin-top: 80px;">
        <div class="card text-center p-4 shadow" style="width: 32%; background-color: white; border-radius: 50px; min-height: 350px; margin: 0 30px; display: flex; flex-direction: column; justify-content: center; border: 8px solid #192024;">
            <p style="font-size: 20px; margin-top: 20px;">
                จัดการสินค้าในร้านของคุณ เช่น เพิ่มสินค้าใหม่ แก้ไขรายละเอียด หรือจัดการสต๊อกสินค้าให้อัปเดตอยู่เสมอ
            </p>
            <a href="{% url 'store_manage_product' %}" class="btn btn-warning custom-btn mt-auto mx-auto">จัดการสินค้า</a>
        </div>

        <div class="card text-center p-4 shadow" style="width: 32%; background-color: white; border-radius: 50px; min-height: 350px; margin: 0 30px; display: flex; flex-direction: column; justify-content: center; border: 8px solid #192024;">
            <p style="font-size: 20px; margin-top: 20px;">
                ตรวจสอบรายงานการขายและสรุปข้อมูลต่าง ๆ ของร้าน เช่น ยอดขายรายวัน รายเดือน เพื่อวางแผนพัฒนาธุรกิจของคุณ
            </p>
            <a href="{% url 'store_reports' %}" class="btn btn-warning custom-btn mt-auto mx-auto">ดูรายงาน</a>
        </div>

        <div class="card text-center p-4 shadow" style="width: 32%; background-color: white; border-radius: 50px; min-height: 350px; margin: 0 30px; display: flex; flex-direction: column; justify-content: center; border: 8px solid #192024;">
            <p style="font-size: 20px; margin-top: 20px;">
                จัดการข้อมูลเกี่ยวกับร้านค้าของคุณ เช่น รายละเอียดโปรไฟล์ร้าน นโยบายการขาย หรือข้อมูลติดต่อ เพื่อให้ลูกค้าเชื่อมั่น
            </p>
            <a href="{% url 'store_about' %}"  class="btn btn-warning custom-btn mt-auto mx-auto">แก้ไขข้อมูลร้าน</a>
        </div>
    </div>
</div>

<style>
.custom-btn {
    background-color: #FFD700;
    border: none;
    color: black;
    padding: 6px 30px;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 50px;
    border: 2px  solid #000;
}
.custom-btn:hover {
    background-color: #FFC107;
    color: white;
    border: 2px  solid #000;
}
.card p {
    font-size: 16px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
</style>
{% endblock %}
